@import "../globalVars";
.nav_header{
  background-color: black;
}
.logo_text{
  a{
    font-family: Centaur;
    font-size: 30px;
    float: left;
  }
}
.nav_line{
  display: inline;
  width: 60px;
  a {
    color: white;

  }
}
.navigation{
  float: right;
  i{
    display: none;
    font-size: 25px;
    color: white;
    margin-top: 8px;
  }
  ul{
    .transition(all,5000ms);
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    //display: inline;
    li{
      display: inline-block;
      margin-right: 15px;
      a{
        font-size: 17px;
      }
    }
    li:last-child{
      margin-right: 0px;
    }
  }
}
.header_main{
  h1{
    text-align: center;
    color: black;
    font-size: 100px;
    font-family: Centaur;
    font-weight: 500;
    margin: 20px auto;
  }
}
.header_main{
  .bag_img{
    position: relative;
    .img-container{
      width: 640px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      .img-border{
        border-bottom: solid 1px black;
        margin: 0 80px 0 80px;
      }
    }
  }
  .bag-text{
    text-align: center;
    font-family: Monotype Corsiva;
    font-size: 35px;
  }
}
.header_bottom{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  img{
    position: absolute;
    margin-top: -28px;
    margin-left: auto;
    margin-right: auto;
  }
}

.responsive(550px,{
  .navigation{
    i{
      display: block;
    }
    ul{
      display: none;
    }
    .hide_menu{
      display: none;
      height: 0px;
    }
    .show_menu{
      display: grid;
      height: 200px;
      margin-left: -264px;
    }
  }
});