header.whiteBG
    .nav_header
        .container
            .nav_line
                .logo_text
                    a(href="#") Etaloo
                .navigation
                    <i id="menu_button" class="fa fa-bars" aria-hidden="true"></i>
                    ul.hide_menu#menu
                        li
                            a(href="#charact") характеристики
                        li
                            a(href="#benefits") преимущества
                        li
                            a(href="#photos") фото
                        li
                            a(href="#order") заказать
    .header_main
        h1 Etaloo
        .container
            .row
                .col-md-12.bag_img
                    .img-container
                        img(src=require("../images/bag_img.jpg"))
                        .img-border
            .row
                .col-md-12
                    p.bag-text оригинальный дизайн, натуральная кожа, идеальные швы
    .header_bottom
        img(src=require("../images/venzel.png"))
