@import "../globalVars";
footer{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  background-color: @footerColor;
  text-align: center;
  p{
    color: white;
    margin: 0px;
  }
  p:first-child{
    text-transform: uppercase;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}