@bgColor1: #ffffff;
@bgColor2: #f0f0f0;
@bgColor3: #f5f5f5;
@bgGrey: #7d7d7d;
@footerColor: #7d7d7d;
@defaultTextColor: black;
@greyTextColor: #969696;
@h2GreyText: #3e3e3e;

.defaultFont(){
  font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex(@values) {
  -webkit-box-flex: @values;
  -moz-box-flex:  @values;
  -webkit-flex:  @values;
  -ms-flex:  @values;
  flex:  @values;
}

.order(@val) {
  -webkit-box-ordinal-group: @val;
  -moz-box-ordinal-group: @val;
  -ms-flex-order: @val;
  -webkit-order: @val;
  order: @val;
}

.transition(@actions, @time){
  -webkit-transition: @actions @time;
  -moz-transition: @actions @time;
  -ms-transition: @actions @time;
  -o-transition: @actions @time;
  transition: @actions @time;
}

.greyBG {
  background-color: @bgGrey;
}
.text_grey{
  color: @greyTextColor;
}

.responsive(@maxWidth, @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}
.responsiveMin(@minWidth, @rules) {
  @media only screen and (min-width: @minWidth) {
    @rules();
  }
}

.fixedBG(@url){
  background: url(@url) no-repeat center center / cover;
  overflow: hidden;
}

h1{
  font-size: 74px;
}
h2{
  font-size: 47px;
  text-align: center;

  .responsive(350px,{
    word-wrap: break-word;
    word-break: break-all;
  });
}
h3{
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;
}
h4{
  font-size: 25px;
}
a{
  cursor: pointer;
}