extends ../base.pug
block main

    .charact#charact
        .img_block_mini
            img(src=require("../../components/images/bags_img.jpg"))
        .text_block
            .container
                .row
                    .col-lg-6.col-md-5
                        h3.text_grey Характеристики сумки
                        .benefits_border
                        .caract_info
                            p Размер:
                                span 33 X 23 X 13 см
                            p Главный материал:
                                span Кожа
                            p Материал подкладки:
                                span Кожа
                            p Жесткость:
                                span Мягкая
                            p Тип застежки:
                                span Молния
                            p Плечевой ремень:
                                span 1
                            p Ручки:
                                span 2
                            p Цвет:
                                span Синий, черный, красный
                            p Отделения:
                                span Основное/для мелочи/для телефона
                            p Перегородка на молнии:
                                span Да
                            p Потайной карман:
                                span Да
                            p Наружный карман:
                                span Да
                            br
                            p Отделения:
                            p
                                span - Главный отдел на молнии
                            p
                                span - Меньший отдел через перегородку
                            p
                                span - Отдел для телефона
                            p
                                span - Отдел для карточек
                            p
                                span - Два маленьких отдела на замках
                            p
                                span - Потайное отделение в заммке
                    .col-lg-6.col-md-7
                        .img_block
                            img(src=require("../../components/images/bags_img.jpg"))

    .sale_block
        .sale_img
            img(src=require("../../components/images/sale_star.png"))
    .benefits#benefits
        h2.wow Наши Преимущества
        .benefits_border
        .container
            .row
                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle1.jpg"))
                        .benefits_texts
                            h4 Работа по всей украине
                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle2.jpg"))
                        .benefits_texts
                            h4 Мы не берем с вас предоплату
                            p Оплата заказа осуществляется при получении в отделении "Новой почты"
                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle3.jpg"))
                        .benefits_texts
                            h4 Гарантии на товар
                            p Перед отправкой товары проходят 100% проверку. Мы вернем вам деньги, если что-то окажется не так. Мы соблюдаем закон "О защите прав потребителей". Вы в праве отказаться от покупки в течение 14 дней с момента получения заказа

                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle1.jpg"))
                        .benefits_texts
                            h4 Всегда в тренде
                            p Мы ценим людей, которые с нами на одной волне
    .achievements
        h2.wow Наши Достижения
        h3 которыми мы можем гордиться
        .benefits_border
        .container
            .row
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img1.png"))
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img2.png"))
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img3.png"))
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img4.png"))

    .happy
        img(src=require("../../components/images/happy.png"), width="100%")

    .photos#photos
        h2.wow Фотографии
        h3 убедитесь в высоком качестве
        .container
            .row
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img7.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img8.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    .img_container
                        img(src=require("../../components/images/img9.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    .img_container
                        img(src=require("../../components/images/img10.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img11.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img12.jpg"))

    .order#order
        .grad
        h2.wow Заказать сумку со скидкой
        h3 укажите ваш номер телефона и мы вам перезвоним
        form.contact-form(method="post" action="http://cc.salesup-crm.com/PostOrder.aspx")
            .order_container
                .form-img
                    img(src=require("../../components/images/sale.png"))
                .form-info
                    input(placeholder="Телефон" name="phone" required="")
                    input(placeholder="Ваше Имя" name="name" required="")
                    input(placeholder="Город/№ Новой Почты" name="order_custom" required="")
            .radio-buttons
                label.radio-container синий
                    input(type="radio", checked="checked", name="comment" value="BLUE")
                    span.checkmark
                label.radio-container черный
                    input(type="radio", name="comment" value="BLACK")
                    span.checkmark
                label.radio-container красный
                    input(type="radio", name="comment" value="RED")
                    span.checkmark
            .order-button
                button заказать
            <input class="product_id" name="product_id" type="hidden" value="3938">
            <input name="result_url" type="hidden" value="http://attlas.com.ua/etaloo_new/index2.html">
            <input name="referrer" type="hidden" value="">
            <input name="order_url" type="hidden" value="">
            <input name="transaction_id" type="hidden" value="0">
            <input name="partner_id" type="hidden" value=" ">
            <input name="link_id" type="hidden" value="0">