@import "../../components/globalVars";

.whiteBG {
  background-color: white;
}
.charact{
  .img_block_mini{
    display: none;
    margin: 20px auto;
    max-width: 500px;
  }
  background-color: @bgColor2;
  padding-top: 50px;
  padding-bottom: 50px;
  .caract_info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }
}
.text_block{
  p{
    margin: 2px 0 2px 0 ;
    font-weight: 600;
    font-size: 17px;
    span{
      font-weight: 500;
    }
  }
  .img_block{
    margin-top: 90px;
    margin-left: -100px;
    img{
      width: 100%;
    }
  }
}
.sale_block{
  height: 520px;
  .fixedBG("../components/images/bg3.jpg");
  .sale_img img{
    display: block;
    margin: 70px auto auto auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
}
.benefits{
  background-color: @bgColor3;
  padding-top: 30px;
  padding-bottom: 100px;
  h2{
    margin-top: 0px;
  }
  p{
    font-size: 16px;
  }
  .benefits_plate{
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h4{
      text-align: center;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
.benefits_border{
  width: 200px;
  border-bottom: solid 1px black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.achievements{
  padding: 100px 0;
  .fixedBG("../components/images/bg5.jpg");
  h2{
    margin: 0;
  }
  img{
    display: block;
    margin: auto auto 30px auto;
  }
}
.photos{
  img{
    margin-bottom: 20px;
  }
  .img_container{
    height: 380px;
  }
  .row{
    margin-top: 30px;
  }
  background-color: @bgColor2;
  padding: 60px 0;
  h2 {
    margin: 0 auto;
  }
}
.grad{
  height: 200px;
  width: 100%;
  background: @bgColor2;
  background: linear-gradient(to top, rgba(240,240,240,0), rgba(240,240,240,1));
}
.order_center(){
  display: block;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.order{
  .order_container{
    .order_center();
  }
  h2{
    margin: -200px auto 0 auto;
  }
  padding: 0 0 100px 0;
  .fixedBG("../components/images/bg5.jpg");
  input{
    height: 90px;
    width: 440px;
    border-radius: 1px;
    border: solid 1px black;
    background: none;
    display: block;
    margin-bottom: 10px;
    font-size: 27px;
    padding-left: 20px;
  }
  .form-info{
    display: inline-block;
    width: 500px;
  }
  .form-img{
    float: right;
    display: inline-block;
    img{
      //position: absolute;
      //vertical-align: bottom;
      //margin-top: -240px;
    }
  }
  input::-moz-placeholder, input::-webkit-input-placeholder,
  input::-moz-placeholder, input::-webkit-input-placeholder{
    font-size: 30px;
  }
}

input[type=radio]{
  display: inline;
  width: auto;
  height: auto;
  margin-top: -20px;
}
.radio-buttons{
  .order_center();
}
.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 8px;
  left: 10px;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: black;
}

/* When the radio button is checked, add a blue background */
.radio-container input ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  //display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
  background: black;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.order-button{
  button{
    background: black;
    border: solid black 1px;
    border-radius: 0px;
    width: 285px;
    height: 80px;
    color: white;
    display: block;
    margin: 30px auto 0 auto;
    font-size: 25px;
  }
}

.responsive(960px, {
  .order {
    .form-info{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 440px;
    }
    .form-img {
      float: none;
      display: block;
      img{
        margin: 20px auto 20px auto;
        display: block;
      }
    }
    .radio-buttons {
      display: block;
      width: 330px;
      margin-left: auto;
      margin-right: auto;
    }
    .order_container {
      width: auto;
    }
  }
});
.responsive(767px,{
  .photos{
    .img_container{
      height: auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
});
.responsive(991px,{

  .charact .img_block_mini{
    display: block;
    img{
      width: 100%;
    }
  }
  .text_block .img_block {
    display: none;
  }
});
.responsive(720px,{
  .header_main .bag_img .img-container {
    width: 100% !important;
    img{
      width: 100%;
    }
  }
});
.responsive(450px,{
  .charact .img_block_mini{
    display: block;
    width: 80%;
    img{
      width: 100%;
    }
  }

  .sale_block{
    .sale_img{
      img{
        margin-left: 5%;
        width: 90%;
      }
    }
  }
  .order {
    .form-img{
      img{
        width: 90%;
        margin-left: 5%;
      }
    }
    .form-info{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
      input{
        width: 90%;
        margin-left: 5%;
      }
    }
  }

});
.responsive(400px,{
  .photos img {
    width: 100%;
  }
});