
@font-face {
  font-family: "Myraid Pro";
  src: url(./MyriadPro/MyriadPro-Regular.ttf);
}
@font-face {
  font-family: "Myraid Pro Semibold";
  src: url(./MyriadPro/MyriadPro-Semibold.ttf);
}
@font-face {
  font-family: "Myraid Pro Bold";
  src: url(./MyriadPro/MyriadPro-Bold.ttf);
}
@font-face {
  font-family: "Centaur";
  src: url(./centaur/CENTAUR.ttf);
}
@font-face {
  font-family: "Monotype Corsiva";
  src: url(./monotypeCorsiva/monotypeCorsiva.ttf);
}