@import "../globalVars";
.listNav {
  ul {
    //display: inline;
    li{
      margin-left: 30px;
      display: inline;
      color: @defaultTextColor;
      a {
        color: @defaultTextColor;
      }
    }
    li:first-child{
      margin-left: 0px;
    }
    li.active {
      a {
        color: black;
      }
      padding-bottom: 5px;
      border-bottom: solid 2px @bgColor2;
    }
  }
}